.header {
  align-items: center;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 26;
    padding-bottom: 26;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24;
    padding-bottom: 24;
  }

  & .container {
    display: flex;
    align-items: center;
  }
  &__container {
    justify-content: space-between;
  }
}
.mobile-menu {
  position: fixed;
  z-index: 100;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  padding: 48px 40px;

  background-color: #ffffff;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition-property: visibility, opacity, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  line-height: 0;
}
