.work {
  padding-top: 0;
  @media screen and (max-width: 1199px) {
    display: none;
  }
}
.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.image-list {
  display: flex;

  &__item {
    position: relative;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  &__item__title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-transform: uppercase;
    height: 70px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    width: 100%;
    bottom: 0;
    background-color: rgba(47, 48, 58, 0.8);
    text-align: center;
    color: #ffffff;
  }
}
