.team {
  background-color: #f5f4fa;
}
@media screen and (max-width: 767px) {
  .team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 30px;
  }
  .team-list {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    &__user {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      &:not(:first-child) {
        margin-top: 30px;
      }

      &__image {
        width: 450px;
      }
    }
  }

  .user-information {
    padding-top: 30px;
    padding-bottom: 30px;

    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--title-color);

      margin-bottom: 10px;
    }

    &__job {
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--subtitle-color);
      margin-bottom: 16px;
    }
  }

  .user-information-social {
    display: flex;
    justify-content: center;

    &__item:not(:first-child) {
      margin-left: 10px;
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      fill: var(--icons);

      width: 44px;
      height: 44px;
      border-radius: 50px;

      transition-property: fill, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: #ffffff;
        background-color: var(--hover-focus-color);
      }
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }
}
@media screen and (min-width: 768px) {
  .team-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 30px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;

    @media screen and (max-width: 1199px) {
      &__user:nth-child(2n + 1) {
        margin-right: 30px;
      }
      &__user:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }

    &__user {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      &__image {
        width: 354px;
      }
    }

    .user-information {
      padding-top: 30px;
      padding-bottom: 30px;

      &__name {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--title-color);

        margin-bottom: 10px;
      }

      &__job {
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--subtitle-color);
        margin-bottom: 16px;
      }
    }

    .user-information-social {
      display: flex;
      justify-content: center;

      &__item:not(:first-child) {
        margin-left: 10px;
      }

      &__links {
        display: flex;
        justify-content: center;
        align-items: center;
        fill: var(--icons);

        width: 44px;
        height: 44px;
        border-radius: 50px;

        transition-property: fill, background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
          fill: #ffffff;
          background-color: var(--hover-focus-color);
        }
      }

      &__icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-color);
    margin-bottom: 50px;
  }
  .team-list {
    display: flex;
    text-align: center;

    &__user {
      background: #ffffff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;

      &:not(:first-child) {
        margin-left: 30px;
      }

      &__image {
        width: 270px;
      }
    }
  }

  .user-information {
    padding-top: 30px;
    padding-bottom: 30px;

    &__name {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--title-color);
      width: 270px;
      margin-bottom: 10px;
    }

    &__job {
      font-size: 16px;
      line-height: 1.19;
      letter-spacing: 0.03em;
      color: var(--subtitle-color);
      margin-bottom: 16px;
    }
  }

  .user-information-social {
    display: flex;
    justify-content: center;

    &__item:not(:first-child) {
      margin-left: 10px;
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      fill: var(--icons);

      width: 44px;
      height: 44px;
      border-radius: 50px;

      transition-property: fill, background-color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        fill: #ffffff;
        background-color: var(--hover-focus-color);
      }
    }

    &__icon {
      width: 20px;
      height: 20px;
    }
  }
}
