@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
  .modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: fill;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
  }
  .modal-close__icon:hover,
  .modal-close__icon:focus {
    fill: var(--hover-focus-color);
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 768px) {
  @media screen and (max-width: 1199px) {
    .modal {
      width: 450px;
      background-color: #ffffff;
      position: absolute;
      border-radius: 4px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding: 40px;
    }
    .modal-close-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 8px;
      right: 8px;
      height: 30px;
      width: 30px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      transition-property: fill;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      background-color: white;
    }
    .modal-close__icon:hover,
    .modal-close__icon:focus {
      fill: var(--hover-focus-color);
    }
    .modal-form {
      display: flex;
      flex-direction: column;
    }
    .modal-form-title {
      font-size: 20px;
      font-weight: 700;
      line-height: 23px;
      letter-spacing: 0.03em;
      color: #212121;
      text-align: center;
      margin-bottom: 12px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    background-color: #ffffff;
    position: absolute;
    border-radius: 4px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
  }
  .modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 8px;
    right: 8px;
    height: 30px;
    width: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition-property: fill;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: white;
  }
  .modal-close__icon:hover,
  .modal-close__icon:focus {
    fill: var(--hover-focus-color);
  }
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  .modal-form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 12px;
  }
}
