.logo-header {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color-dark);

  margin-right: 88px;

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.logo-color {
  color: var(--hover-focus-color);
}
