.site-nav {
  display: flex;
  align-items: center;
}
.nav-list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  &__item:not(:last-child) {
    margin-right: 50px;
  }

  & .nav-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    cursor: pointer;
  }

  & .current {
    color: var(--hover-focus-color);
  }
}

.nav-list__link {
  color: var(--title-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--hover-focus-color);
    cursor: pointer;
  }

  &.current {
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 4px;
      background-color: #2196f3;
      border-radius: 2px;
      position: absolute;
      bottom: -34px;
    }
  }
}
