@media screen and (max-width: 767px) {
  .modal-form-checkbox-lable {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;

    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    &::before {
      display: block;
      content: '';
      height: 15px;
      width: 15px;
      margin-right: 7px;
      border: 1px solid #212121;
      border-radius: 2px;
    }
  }

  .modal-form-checkbox:checked + .modal-form-checkbox-lable::before {
    background-image: url('../images/icon-check1.svg');
    background-color: var(--hover-focus-color);
    background-size: contain;
    background-origin: content-box;
    border-color: var(--hover-focus-color);
  }
  .modal-form-checkbox:focus + .modal-form-checkbox-lable::before {
    outline: 1px solid black;
  }
  .contract {
    color: var(--hover-focus-color);
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  @media screen and (max-width: 1199px) {
    .modal-form-checkbox-lable {
      display: flex;
      align-items: center;
      justify-content: center;

      font-size: 12px;
      line-height: 1.16;
      letter-spacing: 0.03em;

      color: #757575;
      margin-top: 20px;
      margin-bottom: 30px;
      cursor: pointer;
      &::before {
        display: block;
        content: '';
        height: 15px;
        width: 15px;
        margin-right: 7px;
        border: 1px solid #212121;
        border-radius: 2px;
      }
    }

    .modal-form-checkbox:checked + .modal-form-checkbox-lable::before {
      background-image: url('../images/icon-check1.svg');
      background-color: var(--hover-focus-color);
      background-size: contain;
      background-origin: content-box;
      border-color: var(--hover-focus-color);
    }
    .modal-form-checkbox:focus + .modal-form-checkbox-lable::before {
      outline: 1px solid black;
    }
    .contract {
      color: var(--hover-focus-color);
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-checkbox-lable {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
    margin-top: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    &::before {
      display: block;
      content: '';
      height: 15px;
      width: 15px;
      margin-right: 7px;
      border: 1px solid #212121;
      border-radius: 2px;
    }
  }

  .modal-form-checkbox:checked + .modal-form-checkbox-lable::before {
    background-image: url('../images/icon-check1.svg');
    background-color: var(--hover-focus-color);
    background-size: contain;
    background-origin: content-box;
    border-color: var(--hover-focus-color);
  }
  .modal-form-checkbox:focus + .modal-form-checkbox-lable::before {
    outline: 1px solid black;
  }
  .contract {
    color: var(--hover-focus-color);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
