.modal-form-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: #ffffff;
  background: var(--hover-focus-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  display: block;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
