.project-information {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  flex-grow: 1;

  &__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
  }
  &__type {
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--subtitle-color);
    margin-top: 4px;
  }
}
